/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #0B64AD;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #FF66B3;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #0B64AD;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #3FA2F3;
    padding-top: 2.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    font-size: 35px;
    font-family: Kristen ITC;
    text-align: left;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /*Link before visiting*/
  a{
  	color: #0A5999;
  	text-decoration: none;
  }

  /*Link after visiting*/
  a:visited{
  	color: #010B13;
  	text-decoration: none;
  }

  /*Link on hover*/
  a:hover {
  	color: #FF66B3;
  	text-decoration: none;
  }

  /*Link while clicking*/
  a:active{
  	color: #FFF07C;
  	text-decoration: none;
  }
  